@font-face {
  font-family: 'blenderbold';
  src: url('assets/fonts/blender-bold-webfont.eot');
  src: url('assets/fonts/blender-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/blender-bold-webfont.woff2') format('woff2'),
  url('assets/fonts/blender-bold-webfont.woff') format('woff'),
  url('assets/fonts/blender-bold-webfont.ttf') format('truetype'),
  url('assets/fonts/blender-bold-webfont.svg#blenderbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'blenderregular';
  src: url('assets/fonts/blenderregular-webfont.eot');
  src: url('assets/fonts/blenderregular-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/blenderregular-webfont.woff2') format('woff2'),
  url('assets/fonts/blenderregular-webfont.woff') format('woff'),
  url('assets/fonts/blenderregular-webfont.ttf') format('truetype'),
  url('assets/fonts/blenderregular-webfont.svg#blenderregular') format('svg');
  font-weight: normal;
  font-style: normal;

}