footer {
  width: 100%;
  padding: 30px 15px;

  .shell {
    @include flexbox;
    @include align-items(flex-end);
  }

  .social-links {
    font-family: $icons;
    @include flexbox;
    padding: 0 50px;

    .social {
      display: block;
      flex: auto;
      text-align: center;

      &:before {
        @include transition-all(.2s);
        font-size: 30px;
        color: #fff;
      }

      &:hover {

        &:before {
          color: $grey1;
        }
      }

      &.ico-tw:before {
        content: '\f360';
      }
      &.ico-fb:before {
        content: '\f343';
        font-size: 24px;
      }
      &.ico-yt:before {
        content: '\f408';
      }
      &.ico-li:before {
        content: '\f3f8';
      }
    }
  }
}

@media (max-width: 480px) {

  footer {
    width: calc(100% - 30px);

    .shell {
      @include flex-direction(column);

      .col {
        padding: 15px;
        text-align: center;
      }
    }
  }
}